<h1><%= t('.title') %></h1>

<%= render "shared/errors", resource: @subscription_plan %>

<%= render 'form' %>

<div><%= link_to t('links.go_back'), subscription_plans_path, class: "btn btn-outline-primary mt-3 mb-3" %></div>
