
<%= form_with url: path, method: :get do %>
  <div class="me-3">
		<%= label_tag :query, "#{t('.search')}:" %>
		<%= text_field_tag :query %>
		<%= submit_tag t('.seek'), class: "btn btn-primary mt-3 mb-3" %>
	</div>
<% end %>


