<h1 class="text-center display-3 mb-5"><%= t('.title') %></h1>

<% if @videos.present? %>
  <table class="table">
    <tr>
      <th><%= Video.human_attribute_name(:title) %></th>
    </tr>
    <% @videos.each do |video| %>
      <tr>
        <td><%= link_to video.title, video_path(video) %></td>
      </tr>
    <% end %>
  </table>
<% else %>
  <p class="text-center display-6">Você ainda não possui vídeos avulsos</p>
<% end %>

<div><%= link_to t('links.go_back'), user_dashboard_path, class: "btn btn-outline-primary mt-3 mb-3" %></div>
