<h1><%= t('.title') %></h1>
<% if @videos.present? %>
  <table class="table">
    <tr>
      <th><%= Video.human_attribute_name(:title) %></th>
    </tr>
    <% @videos.each do |video| %>
      <tr>
        <td><%= link_to video.title, video_path(video) %></td>
      </tr>
    <% end %>
  </table>
<% else %>
  <p><%= t('.message_nothing') %></p>
<% end %>
