<h1><%= t('.title') %></h1>

<%= render "shared/errors", resource: @streamer %>

<%= render 'form', resource: @streamer %>

<div><%= link_to 'Voltar', :back, class: "btn btn-outline-primary mt-1 mb-1" %></div>
