<h1><%= t('.title') %></h1>

<%= render "shared/errors", resource: @streamer %>

<%= render 'form', resource: @streamer %>

<div><%= link_to t('links.go_back'), :back, class: "btn btn-outline-primary mt-3 mb-3" %></div>
