<h2><%= t('.title') %></h2>

<%= render "shared/errors", resource: @video_category %>

<%= render 'form' %>

<div><%= link_to t('links.go_back'), :back, class: "btn btn-outline-primary mt-3 mb-3" %></div>
