<ul>
  <% if @video_category.parent.present? %>
    <li>Sub-categoria de: <%= @video_category.parent.title %></li>
  <% end %>
  <li>Título: <%= @video_category.title %></li>
</ul>

<div><%= link_to 'Editar categoria', edit_video_category_path(@video_category.id) %></div>
<div><%= link_to t('links.go_back'), :back, class: "btn btn-outline-primary mt-3 mb-3" %></div>
