<h1><%= t('.title') %></h1>

<%= render "shared/errors", resource: @subscription_plan_value %>

<%= render 'form' %>

<div><%= link_to t('links.go_back'), subscription_plan_subscription_plan_values_path(@subscription_plan) %></div>
