<p><%= "#{Playlist.human_attribute_name(:title)}: #{@playlist.title}" %></p>
<p><%= "#{Playlist.human_attribute_name(:description)}: #{@playlist.description}" %></p>

<div><%= link_to 'Voltar', :back %></div>
